<div class="container">
<!--Link De fuentes-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">

<!--Contenedor Acerca De-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Gustavo Nicolas Baez</p>
    <p>Full Stack Developer Jr</p>
</div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de Mí</h1>
        <p>Soy una persona tranquila, aspirante a ser un buen programador, me gustán los videojuegos y el PixelArt, Me encanta el Diseño gráfico Lo realizo como hobby y como trabajo propio.</p>
        </span>
    </div>
</div>
</div>