<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>E.E.T N°3 Japón</h1> - <h3>(2007-2011)</h3>
            </li>
            <p>Título:Bachiller Con Orientación Técnica.</p>
            <li>
                <h1>E.E.T N°3 Japón</h1> - <h3>(2007-2011)</h3>
            </li>
            <p>Título:Técnico Eléctromecánico</p>
            <li>
                <h1>Instituto Mariano Moreno</h1> - <h3>(2011-2012)</h3>
            </li>
            <p>Título:Técnico en armado y reparación de PC.</p>
        </ul>
    </div>
</div>
