<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!--css -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../../assets/css.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="50"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="1000"
  [lazy]="true"
></circle-progress>
</div>
<!--html-->
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [titleColor]="'white'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [lazy]="true"
  ></circle-progress>
  </div>
  <!--github-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [imageSrc]="'../../assets/githubblack.png'"
    [showImage]="true"
    [imageHeight]="65"
    [imageWidth]="90"
    [titleColor]="'white'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [lazy]="true"
  ></circle-progress>
  </div>
  <!--Inglés-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="63"
    [radius]="100"
    [imageSrc]="'../../assets/ingles.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="70"
    [titleColor]="'white'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [lazy]="true"
  ></circle-progress>
  </div>
  <!--Angular-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../../assets/angular.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [titleColor]="'white'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [lazy]="true"
  ></circle-progress>
  </div>
  <!--Comunicacion-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../../assets/Comunicacion.png'"
    [showImage]="true"
    [imageHeight]="120"
    [imageWidth]="120"
    [titleColor]="'white'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="1000"
    [lazy]="true"
  ></circle-progress>
  </div>
</div>