<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Pizzeria "El Horno"</h1> - <h3>(2012-2015)</h3>
            </li>
            <p>Puesto: Bachero, Ayudante de cocina, Ayudante de pizzero.</p>
            <li>
                <h1>Diseñador Grafico (Autonomo)</h1> - <h3>(2019-Actualidad)</h3>
            </li>
            <p>Diseño Gráfico para Empresas Gráficas, Cartelería de eventos y Negocios.</p>
        </ul>
    </div>
</div>
