<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h1>Muestra de Videojuego</h1>
          <p>Muestra de incursión en la programacion del videojuego
            creado mediante el motor: Clickteam Fusion 2.5.
            Consta De 2 Niveles y una pantalla de titulo.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parte2">
         <img src="../../../assets/Proyecto.jpg" alt="" class="img-fluid img-proyecto">
         <img src="../../../assets/Titlescreen.jpg" alt="" class="img-fluid img-proyecto">
         <img src="../../../assets/Nivel.jpg" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>