<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoaP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/0.oNico0.o/"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/nicolas.baez132/"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="https://twitter.com/Nicolas2131"><img src="../../../assets/twitter.png" alt=""></a>
                <a href="https://github.com/Fallencito"><img src="../../../assets/github.png" alt=""></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
            
        </div>
    </div>
</div>